.modal-successful-container {
    position: absolute;
    z-index: 80;
    top: 11vh;
    right: 5%;
    background-color: #1a1a7e;
    border-radius: 3px;
    border: 2px solid #1a1a7e;
    box-shadow: 0px 0px 5px 0px #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.modal-successful-container > p {
    color: #fff;
    font-weight: bold;
}

.modal-successful-container > svg {
    color: #000;
}